/****************************************************************
FILE CSS
****************************************************************/


/*
reset
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
common
*/

body {
    background-color: antiquewhite;
}


/*
utilites
*/

